<section class="shopping_sectionr">
  <div class="shopping_container">
    <div class="row">
      <h2 class="heading_text">Shopping List</h2>
    </div>
    <div class="row">
      <h6>Total food items: <%= @total %></h6>
      <h6>Total price: $<%= @shop.length %></h6>
    </div>
    <table class="shopping_table">
      <tr>
        <th class="shopping_heading">Food</th>
        <th class="shopping_heading">Quantity</th>
        <th class="shopping_heading">Price</th>
      </tr>
      <% @shop.each_with_index do |s, index| %>
        <tr class="<%= index % 2==0 ? 'shopping_even' : 'shopping_prime' %>">
          <td class="shopping_detail"><%= s[:food].name %></td>
          <td class="shopping_detail"><%=  s[:food].price%></td>
          <td class="shopping_detail"><%= s[:price] %>$</td>
        </tr>
      <% end %>
    </table>
  </div>
</section>

