<nav class="nav_header">
  <% if user_signed_in? %>
    <ul class="user_info">
      <li><%= link_to "Home", public_recipes_path %></li>
      <li><%= link_to "My Recipes", recipes_path %></li>
      <li><%= link_to "My Foods", foods_path %></li>
      <li class="dropdown">
        <button class="dropbtn">Transactions</button>
        <div class="dropdown-content">
          <%= link_to "Add Food", new_food_path %>
          <%= link_to "Add Recipe", new_recipe_path %>
        </div>
      </li>
      <li><%= button_to "sign out", destroy_user_session_path, method: :delete %></li>
    </ul>
  <% else %>
    <ul class="user_session">
      <li><%= link_to "Home", public_recipes_path %></li>
      <li><%= link_to "Sign in", new_user_session_path %></li>
      <li><%= link_to "Sign up", new_user_registration_path %></li>
    </ul>
  <% end %>
</nav>
